# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nodejs/react/node_modules
/nodejs/react/.pnp
/nodejs/react/.pnp.js

# testing
/nodejs/react/coverage

# production
/nodejs/react/build

# misc
/nodejs/react/.DS_Store
/nodejs/react/.env.local
/nodejs/react/.env.development.local
/nodejs/react/.env.test.local
/nodejs/react/.env.production.local

/nodejs/react/npm-debug.log*
/nodejs/react/yarn-debug.log*
/nodejs/react/yarn-error.log*


# dependencies
/nodejs/mongoui/node_modules
/nodejs/mongoui/.pnp
/nodejs/mongoui/.pnp.js

# testing
/nodejs/mongoui/coverage

# misc
/nodejs/mongoui/.DS_Store
/nodejs/mongoui/.env.local
/nodejs/mongoui/.env.development.local
/nodejs/mongoui/.env.test.local
/nodejs/mongoui/.env.production.local

/nodejs/mongoui/npm-debug.log*
/nodejs/mongoui/yarn-debug.log*
/nodejs/mongoui/yarn-error.log*


docker-compose.yml
/nodejs/node_modules
/nodejs/.dockerignore
/nodejs/Dockerfile
/nginx/Dockerfile