.map_wrap {
  position: relative;
  width: 100%;
}

#myMap {
  margin: auto;
}

.overlay {
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 16px;
  top: -5px;
  left: 15px;
  padding: 2px;
  font-weight: bold;
}

/* .modal-content {
  height: 500px;
} */

.detail_box {
  display: flex;
}

.detail_left {
  width: 40%;
  height: 90vh;
}

.detail_right {
  display: flex;
  width: 60%;
  height: 90vh;
}

.detail_left_tab {
  width: 100%;
}


.detail_right_12 {
  width: 65%;
  /* border: 2px solid skyblue; */
}

.detail_right_34 {
  width: 35%;
  /* border: 2px solid skyblue; */
}


.detail_right_1 {
  /* height: 50vh; */
  height: 55%;
  /* border: 2px solid pink; */
}

.detail_right_2 {
  /* height: 30vh; */
  height: 35%;
  /* border: 2px solid pink; */
}

.detail_right_3 {
  height: 40%;
  /* border: 2px solid pink; */
}

.detail_right_4 {
  height: 50%;
  /* border: 2px solid pink; */
}

.chart3 {
  /* width: 100%; */
  height: 100%;
  background-color: #F3F4FA;
}

.chart3_title {
  display: flex;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  margin-top: 5px;
  height: 20%;
  color: #263238;
}

.chart3_circles {
  display: flex;
  justify-content: center;
  height: 70%;
  align-items: center;
}

.chart3_circle {
  border-radius: 50%;
  background-color: #f6a5a5;
  margin: 5px;
  text-align: center;
  color: #263238;
  font-size: 1.8em;
  font-weight: bold;
}

.chart3_size0 {
  background-color: #F3F4FA;
}

.chart3_size1 {
  width: 10vw;
  height: 10vw;
  line-height: 10vw;
}

.chart3_size2 {
  width: 8vw;
  height: 8vw;
  line-height: 8vw;
}

.chart3_size3 {
  width: 6vw;
  height: 6vw;
  line-height: 6vw;
}

.chart3_size4 {
  width: 5vw;
  height: 5vw;
  line-height: 5vw;
  margin: 2px;
}

.chart3_circle:hover {
  transform: scale(1.2, 1.2);
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: all 0.5s;
}