.map_wrap {
  position: relative;
  width: 100%;
}

#myMap {
  margin: auto;
}

.overlay1 {
  position: absolute;
  background: #fff;
  border: 1px solid #888;
  border-radius: 3px;
  font-size: 16px;
  top: -5px;
  left: 15px;
  padding: 2px;
  font-weight: bold;
}

/* overlay2 크기 변경하면 Map 가서 inside()함수 안에 변경해야함 */
.overlay2 {
  width: 200px;
  height: 200px;
  background-color: beige;
  border: 3px solid white;
}

.close,
.detail {
  border: 2px solid grey;
  text-align: center;
}

.modal-content {
  height: 500px;
}

.detail_box {
  display: flex;
}

.detail_left {
  width: 40%;
}

.detail_left_tab {
  width: 100%;
}

.start {
  opacity: 0;
}

.end {
  opacity: 1;
  transition: all 0.5s;
}